* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  min-height: 100vh;
}

.header {
  width: 100%;
  padding: 10px;
  text-align: center;
}

.scoreboard {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}

.time-bar-container {
  width: 90%;
  height: 15px;
  background-color: #ddd;
  margin: 10px auto 0 auto;
  border-radius: 8px;
}

#time-bar {
  height: 100%;
  width: 100%;
  background-color: #76c7c0;
  border-radius: 8px;
}

#game-container {
  position: relative;
  width: 90%;
  max-width: 500px;
  aspect-ratio: 1 / 1; /* 正方形 */
  margin: 20px auto;
  border: 2px solid #333;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#start-button, #retry-button {
  padding: 20px 40px;
  font-size: 1.5rem;
  cursor: pointer;
}

#countdown {
  position: absolute;
  font-size: 3rem;
  font-weight: bold;
  color: #333;
}

#game-over {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}